@import 'tailwindcss';

@theme static {
  --text-10xl: 8.25rem;
  --text-10xl--line-height: 1;
  --text-11xl: 8.5rem;
  --text-11xl--line-height: 1;
  --text-12xl: 8.75rem;
  --text-12xl--line-height: 1;
  --text-13xl: 9rem;
  --text-13xl--line-height: 1;
  --text-14xl: 9.25rem;
  --text-14xl--line-height: 1;
  --text-15xl: 9.5rem;
  --text-15xl--line-height: 1;
  --text-16xl: 9.75rem;
  --text-16xl--line-height: 1;
  --text-17xl: 10rem;
  --text-17xl--line-height: 1;
  --text-18xl: 10.25rem;
  --text-18xl--line-height: 1;
  --text-19xl: 10.5rem;
  --text-19xl--line-height: 1;
  --text-20xl: 10.75rem;
  --text-20xl--line-height: 1;
  --text-21xl: 11rem;
  --text-21xl--line-height: 1;
  --text-22xl: 11.25rem;
  --text-22xl--line-height: 1;
  --text-23xl: 11.5rem;
  --text-23xl--line-height: 1;
  --text-24xl: 11.75rem;
  --text-24xl--line-height: 1;
  --text-25xl: 12rem;
  --text-25xl--line-height: 1;
  --text-26xl: 12.25rem;
  --text-26xl--line-height: 1;
  --text-27xl: 12.5rem;
  --text-27xl--line-height: 1;
  --text-28xl: 12.75rem;
  --text-28xl--line-height: 1;
  --text-29xl: 13rem;
  --text-29xl--line-height: 1;
  --text-30xl: 13.25rem;
  --text-30xl--line-height: 1;
  --text-31xl: 13.5rem;
  --text-31xl--line-height: 1;
  --text-32xl: 13.75rem;
  --text-32xl--line-height: 1;
  --text-33xl: 14rem;
  --text-33xl--line-height: 1;
  --text-34xl: 14.25rem;
  --text-34xl--line-height: 1;
  --text-35xl: 14.5rem;
  --text-35xl--line-height: 1;
  --text-36xl: 14.75rem;
  --text-36xl--line-height: 1;
  --text-37xl: 15rem;
  --text-37xl--line-height: 1;
  --text-38xl: 15.25rem;
  --text-38xl--line-height: 1;
  --text-39xl: 15.5rem;
  --text-39xl--line-height: 1;
  --text-40xl: 15.75rem;
  --text-40xl--line-height: 1;
  --text-41xl: 16rem;
  --text-41xl--line-height: 1;
  --text-42xl: 16.25rem;
  --text-42xl--line-height: 1;
}

@plugin "daisyui";

@source inline("border-spacing-{0..96} border-spacing-x-{0..96} border-spacing-y-{0..96}");
