{% load wagtailimages_tags %}

<div class="card overflow-hidden bg-base-100 shadow">
    <a class="block h-full" href="{{ page.url }}">
        {% if page.image %}
            <figure>
                {% if portrait %}
                    {% picture page.image format-{avif,webp,jpeg} fill-{250x320-c100,433x487-c100} preserve-svg sizes="(max-width: 768px)125px,400px" loading="lazy" class="h-full w-full object-cover" %}
                {% else %}
                    {% picture page.image format-{avif,webp,jpeg} fill-{300x200-c75,645x480-c75} preserve-svg sizes="(max-width: 768px)150px,30vw" loading="lazy" class="h-full w-full object-cover" %}
                {% endif %}
            </figure>
        {% endif %}
        <div class="card-body">
            {% if portrait %}
                <h3 class="card-title text-base">{{ page.title }}</h3>
            {% else %}
                <h2 class="card-title text-base">{{ page.title }}</h2>
            {% endif %}
        </div>
    </a>
</div>
