{% load notifications %}
{% if audience_allowed %}
  <fieldset class="fieldset{% if block_css %} {{ block_css }}{% endif %}"{% if block_style %} style="{{ block_style }}"{% endif %}>
    {% if value.label %}<legend class="fieldset-legend">{% daisie_markup value.label %}</legend>{% endif %}
    <div class="rating {{ value.size }}">
      {% for star in stars %}
        <input
          type="radio"
          name="{% if value.name %}{{ value.name }}{% else %}daisie-rating-{{ block.id }}{% endif %}"
          value="{{ star.value }}"
          class="mask {{ shape }} {{ star.color }}"
          aria-label="{{ star.value }} / {{ value.maximum }}"
          {% if star.checked %}checked{% endif %}
        />
      {% endfor %}
    </div>
  </fieldset>
{% endif %}
