{% if audience_allowed %}
  <div class="{% if block_css %}{{ block_css }}{% endif %}">
    <label class="label cursor-pointer justify-start gap-3">
      <input
        type="checkbox"
        role="switch"
        {% if value.name %}name="{{ value.name }}"{% endif %}
        class="toggle {{ value.color }} {{ value.size }}"
        {% if value.checked %}checked{% endif %}
      />
      <span class="label-text">{{ value.label }}</span>
    </label>
    {% if value.helper_text %}<p class="label">{{ value.helper_text }}</p>{% endif %}
  </div>
{% endif %}
