{% with fonts=theme.fonts.first %}
{% if fonts %}
<style>
:root:has(input.theme-controller[value={{ theme.name }}]:checked),
[data-theme="{{ theme.name }}"] {
  {% with font_families=fonts.font_families.all %}
    {% if font_families %}
      {% for family in font_families %}
        --font-{{ family }}: {{ family.css_value }};
      {% endfor %}
    {% endif %}
  {% endwith %}
  --font-size-base: {{ fonts.base_font_size }};
  --line-height: {{ fonts.line_height }};
}
</style>
{% endif %}
{% endwith %}
