{% load wagtailcore_tags wagtail_daisIE_tags %}
{% if audience_allowed %}
  <div class="tabs {{ value.style }} {{ value.size }} {{ value.placement }} {{ block_css|default:'' }}"{% if block_style %} style="{{ block_style }}"{% endif %}>
    {% for tab in tabs %}
      {% if tab.allowed %}
        <label class="tab">
          <input type="radio" name="daisie-tabs-{{ block.id }}" class="sr-only"{% if tab.checked %} checked{% endif %} />
          {% if tab.icon %}{% daisyui_icon tab.icon %}{% endif %}
          <span>{{ tab.label }}</span>
        </label>
        <div class="tab-content rounded-box border border-base-300 bg-base-100 p-6">
          {% for child in tab.content %}{% include_block child %}{% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
