{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign Up Closed" %}
{% endblock head_title %}
{% load allauth_ui %}
{% block content %}
{% if daisie_allauth_page_active %}{% daisie_allauth_page %}{% else %}
{# daisie:verbatim:start #}
{% element h1 %}
        {% trans "Sign Up Closed" %}
    {% endelement %}
    {% element p %}
        {% trans "We are sorry, but the sign up is currently closed." %}
    {% endelement %}
{# daisie:verbatim:end #}
{% endif %}{% endblock content %}
