{% load wagtailimages_tags %}
{% if audience_allowed %}
  <div class="{% if block_css %}{{ block_css }}{% endif %}">
    {% if value.image %}
      {% image value.image width-1200 as img %}
      <figure class="not-prose m-0">
        <img {{ img.attrs }} class="max-w-full h-auto rounded-box" />
        {% if value.caption or value.attribution %}
          <figcaption class="mt-2 text-sm text-base-content/70">
            {% if value.caption %}{{ value.caption }}{% endif %}
            {% if value.attribution %}<cite class="not-italic">{{ value.attribution }}</cite>{% endif %}
          </figcaption>
        {% endif %}
      </figure>
    {% endif %}
  </div>
{% endif %}
