{% load wagtailimages_tags %}
{% if audience_allowed %}
  <div class="inline-block align-middle {% if block_css %}{{ block_css }}{% endif %}"{% if block_style %} style="{{ block_style }}"{% endif %}>
    {% if resolved_image %}
      {% image resolved_image width-400 as img %}<img src="{{ img.url }}" alt="{% firstof value.alt resolved_image.title fallback_alt '' %}" class="max-h-full w-auto max-w-full" />
    {% elif resolved_image_url %}
      <img src="{{ resolved_image_url }}" alt="{% firstof value.alt resolved_image_alt fallback_alt '' %}" class="max-h-full w-auto max-w-full" />
    {% elif value.image %}
      {% image value.image width-400 as img %}<img src="{{ img.url }}" alt="{% firstof value.alt value.image.title fallback_alt '' %}" class="max-h-full w-auto max-w-full" />
    {% endif %}
  </div>
{% endif %}
