{% load wagtail_daisIE_tags %}
{% if menu %}
    {% if menu_theme and menu_theme != daisyui_theme %}
        {% daisyui_theme_css menu_theme %}
        {% daisyui_theme_font_css menu_theme %}
    {% endif %}
    {% with block_css=menu_item_css %}
        {% if menu.layout == "navbar" %}
            {% include "wagtail_daisIE/blocks/navbar.html" %}
        {% elif menu.layout == "footer" %}
            {% include "wagtail_daisIE/blocks/footer.html" %}
        {% elif menu.layout == "sidebar" %}
            {% include "wagtail_daisIE/blocks/sidebar_menu.html" %}
        {% elif menu.layout == "horizontal" %}
            {% include "wagtail_daisIE/blocks/horizontal_menu.html" %}
        {% elif menu.layout == "vertical" %}
            {% include "wagtail_daisIE/blocks/vertical_menu.html" %}
        {% endif %}
    {% endwith %}
{% endif %}
